.App {
  text-align: center;
}

.App-header {
  background-color: #ff790f;
  height: 96px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: white;
}

.content {
  padding: 32px;
}

.counter {
  margin-bottom: 32px;
}
.counterBtn {
  margin-left: 8px;
  width: 24px;
}

.even-section {
  margin: 0 auto;
  margin-bottom: 30px;
  max-width: 800px;
  padding: 10px;
  border-radius: 24px;
  background-color: #ff790f;
  color: white;
  font-weight: bold;
}
