body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

article {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ff790f;
  font-size: 24px;
  color: white;
  width: 500px;
  padding: 32px;
  margin: 124px auto;
  line-height: 1.5;
  text-align: center;
}

ul {
  display: block;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0;
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden;
  min-width: 250px;
  width: 33%;
  background-color: #efefef;
  border: 1px solid #ff790f;
  color: black;
  border-radius: 5px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 32px;
  bottom: 32px;
  min-height: 101px;
  display: flex;
  white-space: pre-wrap;
}

#snackbarText {
  margin: 0;
}

#closeBtn {
  position: absolute;
  top: 5px;
  right: 2px;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

#snackbarBtn {
  position: fixed;
  bottom: 32px;
  left: 32px;
  width: 140px;
  padding: 8px;
  border: 1px solid #ff790f;
  color: black;
  border-radius: 16px;
  cursor: pointer;
}

#snackbarBtn:hover {
  opacity: 0.8;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s;
  animation: fadein 0.5s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}
